/* h1 {
  color:brown;
  text-align: center;
  font-size: 60px;
  font-family: 'Courier New', Courier, monospace;
}
*/
 #img {
  text-align: center;
 } 

 #disableElm {
  display: none;
 }
 .formCls {
  text-align: center;
  margin-top: 2px;
 }
 .divStyle {
  overflow: 'hidden',
}